# dependencies
node_modules

# sst
.sst
.build

# misc
.DS_Store
.npmrc

# local env files
.env*.local

awscli-bundle
yarn-error.log*

packages/functions/tests/coverage
packages/functions/tests/reports
